@charset "UTF-8";

@media (min-width: 600px) and (max-width: 1024px) {
  :root {
    font-size: 40%;
  }

  .header > .nav-header > a {
    font-size: 1.6rem;
  }

  .curse-main > h3 {
    padding: 2rem;
    margin-left: 50rem;
    margin-right: 50rem;
  }

  .banner-main > .responsive-device {
    position: absolute;
    top: 28rem;
    left: 100rem;
  }

  .skills-main > h3 {
    margin-left: 30rem;
    margin-right: 80rem;
  }

  .main > .certifications-main > h3 {
    margin-left: 40rem;
    margin-right: 60rem;
  }

  .curse-main > .curse-info {
    margin-inline: 55rem;
  }

  .curse-main > .curse-info > .info-1 {
    margin-right: 5rem;
    border-right: 1px solid #3296ee;
  }

  .curse-main > .curse-info > .info-1 > h3,
  .curse-main > .curse-info > .info-2 > h3 {
    color: #3296ee;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  .curse-main > .curse-info > .info-1 > ul > li,
  .curse-main > .curse-info > .info-2 > ul > li {
    color: #000;
    font-size: 1.8rem;

    padding: 1rem;
  }

  .curse-main > .curse-info > .info-1 > ul {
    color: #000;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .portfolio-main > h3 {
    margin-left: 50rem;
    margin-right: 50rem;
  }

  .form-main > h3 {
    margin-left: 50rem;
    margin-right: 50rem;
  }

  .projects-main > h3 {
    margin-left: 20rem;
    margin-right: 70rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  :root {
    font-size: 40%;
  }

  .header > .nav-header > a {
    font-size: 2rem;
  }

  .description-banner > p {
    font-size: 2.5rem;
  }

  .curse-main > .curse-info {
    margin-inline: 86rem;
  }

  .form-main > .icon-1 {
    position: absolute;
    width: 40rem;
    right: 20rem;
    top: 450rem;
  }

  .form-main > .icon-2 {
    position: absolute;
    width: 20rem;
    right: 10rem;
    top: 450rem;
  }

  .form-main > .icon-3 {
    position: absolute;
    width: 30rem;
    right: 10rem;
    top: 480rem;
  }

  .banner-main > .responsive-device {
    position: absolute;
    top: 28rem;
    left: 132rem;
  }

  .curse-main > h3 {
    padding: 2rem;
    margin-left: 60rem;
    margin-right: 60rem;
  }

  .main > .certifications-main > h3 {
    margin-left: 70rem;
    margin-right: 90rem;
  }

  .form-main > h3 {
    margin-left: 75rem;
    margin-right: 80rem;
  }
}
